body {
background-color:rgb(187, 93, 117);
font-family: 'Lemonada', cursive;
}   

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.row{
    background-color: aquamarine
}
